<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028950472897-47genmhigu5eho5p0crnvmuea121gfgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028950472897-47genmhigu5eho5p0crnvmuea121gfgb</string>
	<key>API_KEY</key>
	<string>AIzaSyAk3-558l1PGzk-SB5SCqZdDIERKEpUhhs</string>
	<key>GCM_SENDER_ID</key>
	<string>1028950472897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.AR-Furniture-Shop</string>
	<key>PROJECT_ID</key>
	<string>ar-furniture-shop-1a937</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-furniture-shop-1a937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028950472897:ios:25e209858dd6d5b4293c40</string>
	<key>DATABASE_URL</key>
	<string>https://ar-furniture-shop-1a937.firebaseio.com</string>
</dict>
</plist>